<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm Survey</title>
</head>
<body>
<h1>Midterm Survey</h1>

<form method="post" action="#" >
    <label>Name
        <input type="text" name="name" value="{{@name}}"> <br>
        <check if="{{isset(@errors['name'])}}">
            <span>{{@errors['name']}}</span>
        </check>
    </label>

    <br><p>Check all that apply:
    <check if="{{ @errors['answers'] }}">
        <span class="err">{{ @errors['answers'] }}</span>
    </check><br>

    <repeat group="{{ @theAnswers }}" value="{{ @ansOption }}">
        <label><input type="checkbox" name="answers[]" value="{{ @ansOption }}"
            <check if="{{ !empty(@answers) && in_array(@ansOption, @answers) }}">
                checked="checked"
            </check>
            >{{ @ansOption }}</label><br>
    </repeat>
</p>

        <br> <input type="submit" value="Submit">

</form>
</body>
</html>
